---
import NavLink from "./NavLink.astro";


---

<nav class="min-w-[300px] max-w-[300px] min-h-full flex flex-col p-4 border rounded-r-2xl text-gray-300 border-stone-950 bg-neutral-900">
    <div class="flex flex-col gap-4 mt-12 w-full">
        <NavLink
            title="Home"
            link="/"
        />
        <NavLink
            title="Lebenslauf"
            link="/Lebenslauf"
        />
        <NavLink
            title="Kompra (Standortbestimmung und Kompetenzeinschätzung)"
            link="/Kompra1"
        />
        <NavLink
            title="Organisieren Schützen und Teilen digitaler. Ressourcen 2.3"
            link="/Organisieren"
        />
        <NavLink
            title="Aktive Einbindung der Lernenden 5.3"
            link="/Einbindung"
        />
        <NavLink
            title="Feedback und Planung 4.3"
            link="/Feedback"
        />
        <NavLink
            title="Hospitalisation vom 10. Januar 2025"
            link="/"
        />
        <NavLink
            title="Hospitalisation vom 14. Februar 2025"
            link="/"
        />
        <NavLink
            title="WLI-Check"
            link="/"
        />
        <NavLink
            title="Kompra (Standortbestimmung 2 und Kompetenzeinschätzung)"
            link="/"
        />
    </div>
</nav>