---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/content/Paragraph.astro"

import { getCollection } from 'astro:content';

const paragraphs = await getCollection('kompra1');
---

<Layout>
    <section class="p-4 flex flex-col gap-4">
        <h1 class="text-3xl">Kompra (Standortbestimmung und Kompetenzeinschätzung)</h1>

        <p>Bild</p>
        {
            paragraphs.sort((a,b) => a.data.id - b.data.id).map((paragraph) => (
                <Paragraph content={paragraph} />
            ))
        }

        <p>Anhang</p>
        <a href="/Webseite/Anhang 2_Merkblatt im Umgang mit Datenschutz.pdf" target="_blank" >
            Merkblatt im Umgang mit Datenschutz
        </a>

    </section>
</Layout>

