---
import Layout from "../layouts/Layout.astro";


---

<Layout>
    <section class="max-w-[1000px] p-4 flex flex-col gap-4">

        <h1 class="text-3xl">Lebenslauf</h1>

        <h2 class="text-xl">Vorwort</h2>
        <p>Es freut mich Ihnen mein persönliches didaktisches Portfolio zu präsentieren. Es spiegelt meine neu entdeckte Leidenschaft und mein Engagement für den Beruf des Dozenten wider. Es zeigt unter anderem meinen Weg, der hinter mir liegt und den Weg, den ich mit diesem Portfolio starte. Das Sammeln von praktischer Erfahrung im Vermitteln von Wissen und die passende Theoretische Ausbildung im EHB sollen mich für die Zukunft stärken. 
        Im Zentrum meines Portfolios stehen die Leistungsnachweise sowie die Überzeugung, dass lernen durch aktive Teilnahme und Mitgestaltung im Unterricht Studierende weiterbringen. Ziele sollen erreicht oder gar übertroffen werden. Ich lade Sie ein in meinen didaktischen Ansätzen und Projekten sich einen Eindruck von mir und meiner Arbeit zu verschaffen. Starten wir mit der Vergangenheit. 
        </p>

        <h2 class="text-xl">Lebenslauf</h2>

        <div class="flex flex-col gap-2">
            <div class="flex gap-2">
                <p class="min-w-[160px]">06/2020 - heute</p>
                <div class="flex flex-col">
                    <p class="font-bold">Hauswart Schulanlage Inwil Baar</p>
                    <p>
                        Leitung der Hauswartung mit Führungsverantwortung von 7 Mitarbeitern, Pflege und Unterhalt der Anlage innen und aussen inkl. allen technischen Anlagen. Pikett und Sicherheitsverantwortung
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">06/2015 – 05/2020</p>
                <div class="flex flex-col">
                    <p class="font-bold">Betriebsleiter Camping Unterägeri</p>
                    <p>
                        Selbständige Leitung des Betriebes inkl. Restaurant und Shop mit voller Budgetverantwortung. Rekrutierung, Einsatz und Führung von bis zu 10 Mitarbeitern. Pflege und Unterhalt der Aussenanlagen und der Gebäudetechnik.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">05/2014-02/2015</p>
                <div class="flex flex-col">
                    <p class="font-bold">Produktionsleiter/Verkauf, Sitzwerk AG 6340 Baar</p>
                    <p>
                        Kundenbetreuung und Verkauf von Gastronomie-Möbeln. Akquisition von Neukunden inkl. Montage und Lieferung. Bestellung und Pflege der internationalen Lieferanten
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">06/2012-04/2014</p>
                <div class="flex flex-col">
                    <p class="font-bold">Betriebsleiter Wädenswilerhaus, 7134 Obersaxen</p>
                    <p>
                        Betreiben eines Lagerhauses mit 60 Betten. Gesamtverantwortung für Verpflegung, Gästebetreuung, Küchenumbau, Unterhalt, Lingerie, 	Behörden und Lieferanten.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">12/2011-03/2012</p>
                <div class="flex flex-col">
                    <p class="font-bold">Rezeption Front Office Hotel Stille, 7500 St. Moritz.</p>
                    <p>
                        (Saisonanstellung.) Selbständiges führen der Rezeption. Kundenpflege und Administration.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">11/1995-11/2011</p>
                <div class="flex flex-col">
                    <p class="font-bold">Betriebsleiter Schweizer Jugendherbergen, 8042 Zürich</p>
                    <p>
                        Selbständige Leitung der Betriebe Hoch-Ybrig, Schaan-Vaduz und 	St. Moritz mit voller Budgetverantwortung. Rekrutierung, Einsatz und 	Führung von bis zu 20 Mitarbeitern inkl. Schulung und Training im 	Bereich Qualitätsmanagement. Pflege und Unterhalt der Aussenanlagen und der Gebäudetechnik wie Fotovoltaik, komplexe Lüftung und Heizanalgen.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">06/1991-10/1995</p>
                <div class="flex flex-col">
                    <p class="font-bold">Allrounder Bergbahnen Hoch Ybrig  AG, 8842 Unteriberg</p>
                    <p>
                        Kassierer, Sesselbahnangestellter, Maschinist, Bergbahnrevision, Werkstatt und Schlossereiarbeiten. Mithilfe bei Bauarbeiten.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">01/1991-05/1991</p>
                <div class="flex flex-col">
                    <p class="font-bold">Neuseeland / Australien / Asien</p>
                    <p>
                        Erlernen der englischen Sprache, Reisen und neue Kulturen entdecken.
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <p class="min-w-[160px]">11/1987-12/1990</p>
                <div class="flex flex-col">
                    <p class="font-bold">Verkauf Hemag AG Orientteppiche, Import-Export</p>
                    <p>
                        Verkauf und Beratung von Detaillisten-Händlern
                    </p>
                </div>
            </div>

        </div>

    </section>
</Layout>