---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/content/Paragraph.astro"

import { getCollection } from 'astro:content';
import { Image } from "astro:assets";

const paragraphs = await getCollection('organisieren');
---

<Layout>
    <section class="p-4 flex flex-col gap-4">
        <h1 class="text-3xl">Organisieren Schützen und Teilen digitaler. Ressourcen 2.3</h1>

        <Image
            src={"/images/organisieren.png"}
            width={316}
            height={320}
            alt={"organisieren"}
        ></Image>
        {
            paragraphs.sort((a,b) => a.data.id - b.data.id).map((paragraph) => (
                <Paragraph content={paragraph} />
            ))
        }

        <h2 class="text-xl">Anhang</h2>
        <a href="/Anhänge/Anhang 2_Merkblatt im Umgang mit Datenschutz.pdf" target="_blank" class="hover:underline hover:cursor-pointer">
            Merkblatt im Umgang mit Datenschutz
        </a>

    </section>
</Layout>