---
import "../styles/global.css";
// import Navigation from "../components/layout/Navigation.astro";
import Navigation from "../components/layout/Navigation.svelte";
const { title } = Astro.props

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>mätzi.ch - {title}</title>
	</head>
	<body class="min-w-screen min-h-screen flex bg-neutral-200">

		<Navigation client:load/>

		<main class="grow-1 min-h-full">
			<slot />
		</main>

	</body>
</html>

<script>

	let passcode 
	let confirmed = false

	// while (passcode !== "test123" && confirmed !== true) {
	// 	passcode = window.prompt("Bitte passcode eingeben", "Test?")
	// 	if (passcode === "test123") {
	// 		confirmed = true
	// 	}
	// }

</script>
